
#wrapperdetails{padding:10px 10px;}
#searchbutton{margin-top:26px;}
#sorting{margin-top:0px;}
#del{float:right;}
#badge{float:left;margin-right:10px;margin-top:0px;}
#badgedet{margin-left:5px;}
#namelabel{display:block;margin-top:10px;}


